*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

.container {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-color: #ffc8da;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-attachment: fixed;
  padding-top: 40px;
  padding-bottom: 40px;
}

div {
  width: 400px;
  position: relative;
  display: block;
  flex-direction: column;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  margin-left: auto;
  margin-right: auto;
}

.titulek {
  background-color: #283e50;
}

.pravidla-titulek {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #283e50;
}

.flex-item.hra {
  flex-direction: column;
  width: 80vmin;
  margin: auto;
}

.image-title {
  width: 400px;
  display: block;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: transparent;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 48px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.popis {
  display: flex;
  width: 400px;
  margin-bottom: 40px;
  padding-right: 30px;
  padding-left: 15px;
}

.uvodni-popis {
  text-align: center;
}

.pravidla {
  background-color: #1fcca4;
  width: 400px;
  height: 50px;
  border-top: 1px solid #283e50;
  padding-top: 12px;
  text-align: center;
}

.start {
  background-color: #0197f6;
  width: 400px;
  height: 50px;
  border-top: 1px solid #283e50;
  padding-top: 12px;
  text-align: center;
}

a:link {
  color: white;
  text-decoration: none;
}

div.pravidla:hover {
  background-color: #1cbb96;
  width: 400px;
  height: 50px;
}

div.start:hover {
  background-color: #0090e9;
  width: 400px;
  height: 50px;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

.instrukce-image {
  max-width: 100%;
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.popis-obrazku {
  text-align: center;
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.hlavni-menu {
  width: 80vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ikony {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.hrac .ikony,
.button-ikony {
  position: relative;
}

.ikona-domu,
.ikona-restart {
  width: 3em;
  height: 3em;
  border-radius: 7px;
}

.ikona-domu {
  background-color: #1fcca4;
  border: transparent;
}

.ikona-restart {
  background-color: #0197f6;
  border: transparent;
}

.ikona-domu:hover,
.ikona-domu:focus {
  background-color: #1cbb96;
  border: transparent;
}

.ikona-restart:hover,
.ikona-restart:focus {
  background-color: #0090e9;
  border: transparent;
}

.hraci-pole {
  width: 80vmin;
  height: 80vmin;
  display: flex;
  flex-wrap: wrap;
}

.ikony-hra {
  padding-left: 300px;
  margin-bottom: 20px;
}

button {
  border: 0.5px solid #283e50;
  opacity: 0.6;
  background-size: 30%;
}

.hraci-pole > button {
  background-color: rgb(204, 188, 221);
  width: 10%;
  height: 10%;
  aspect-ratio: 1/1;
}

.hraci-pole > button:hover,
.hraci-pole > button:focus {
  background-color: rgb(224, 206, 234);
  cursor: pointer;
  opacity: 1;
  border-radius: 5px;
}

@media (min-width: 650px) {
  div {
    width: 600px;
  }

  .image-title {
    width: 600px;
  }

  .popis {
    width: 600px;
  }

  .start {
    width: 600px;
  }

  .pravidla {
    width: 600px;
  }

  div.pravidla:hover {
    width: 600px;
  }

  div.start:hover {
    width: 600px;
  }

  .wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .popis-obrazku {
    width: calc(90% / 2);
    margin-left: 0;
    margin-right: 0;
  }
}

.zahrany_tah {
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  transition: background-size 0.15s;
}
