*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

.container {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
  background-color: #ffc8da;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-attachment: fixed;
}

div {
  width: 400px;
  position: relative;
  display: block;
  flex-direction: column;
  background-color: #283e50;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  margin-left: auto;
  margin-right: auto;
}

.image-title {
  width: 400px;
  display: block;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: transparent;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 48px;
  padding-top: 10px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.popis {
  display: flex;
  width: 360px;
  margin-bottom: 40px;
  padding-right: 5px;
}

.uvodni-popis {
  text-align: center;
}

.pravidla {
  background-color: #1fcca4;
  width: 400px;
  height: 50px;
  border-top: 1px solid #283e50;
  padding-top: 12px;
  text-align: center;
}

.start {
  background-color: #0197f6;
  width: 400px;
  height: 50px;
  border-top: 1px solid #283e50;
  padding-top: 12px;
  text-align: center;
}

a:link {
  color: white;
  text-decoration: none;
}

div.pravidla:hover {
  background-color: #1cbb96;
  width: 400px;
  height: 50px;
}

div.start:hover {
  background-color: #0090e9;
  width: 400px;
  height: 50px;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

.instrukce-image {
  width: 350px;
  max-width: 100%;
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.popis-obrazku {
  text-align: center;
  margin-bottom: 40px;
}

.ikony {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}
